.left{
width: 50%;
height: 1024px;
/*left: 0px;*/
top: 0px;

background:rgb(245, 96, 121);
}
.text{
    position: absolute;
width: 400px;
height: 69px;
left: 237px;
top: 462px;

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 50px;
line-height: 59px;

color: #000000;
}
.watchout{
    position: absolute;
width: 396px;
height: 356px;
left: 927px;
top: 313px;

background: #2D9CDB;
border-radius: 40px;
}
.watchin{
    position: absolute;
width: 346px;
height: 308px;
left: 25px;
bottom: 24px;

/* Gray 4 */

background: #BDBDBD;
border-radius: 40px;
}
.downbelt{
  
position: absolute;
width: 269px;
height: 196px;
left: 990px;
top: 631px;
background: #C4C4C4;
border-radius: 50px;
}
.topbelt{
    position: absolute;
width: 269px;
height: 206px;
left: 990px;
top: 143px;
background: #C4C4C4;
border-radius: 50px;
}
